*.o
*.app
*.user
Makefile
.DS_Store*
ui_*
moc_*
Thoth
Debug/
GeneratedFiles/
ipch/
Release/
Win32/
*.sln
*.sdf
*.suo
*.vcxproj
*.filters
*.autosave
*.*~
*.vspscc
*.opensdf
*.lib
_UpgradeReport_Files/
UpgradeLog.xml
*.cd
.*